.home {
	text-align: center;

	.intro-home {
		background-image: url(../images/home-bg-1.jpg);
		color: $white;
		background-position: center center;
		@include home-bg;
		@include border(1);
		
		.main-title {
			color: $white;
		}
		
		.intro-subtitle {
			font-family: $aaux;
			font-weight: 900;
			font-size: 13px;
			letter-spacing: 5px;
			text-transform: uppercase;
			
			span {
				font-family: $grand;
				text-transform: lowercase;
				font-weight: normal;
				letter-spacing: 3px;
				font-size: 20px;
			}
		}
	}
	
	.about-home {
		background-image: url(../images/home-bg-2.jpg);
		color: $darkblue1;
		background-position: bottom center;
		@include home-bg;
		@include border(2);
		
		.main-title {
			color: $darkblue1;
		}
		
		.subtitle {
			font-family: $grand;
			font-weight: normal;
			font-size: 30px;
			color: $orange1;
		}
		
		.home-copy {
			color: $darkblue1;
		}
		
		.lined-button {
			@include button (1);
		}
	}
	.what-we-do-home {
		background-image: url(../images/home-bg-3.jpg);
		color: $offwhite;
		background-position: center center;
		@include home-bg;
		@include border(2);
		
		.main-title {
			color: $darkblue1;
			text-shadow: 4px 4px 0px $offwhite;
		}
		
		.subtitle {
			font-family: $grand;
			font-weight: normal;
			font-size: 30px;
			color: $offwhite;
		}
		
		.things {
			h3 {
				color: $white;
				font-size: 18px;
				font-family: $aaux;
				font-weight: bold;
				text-transform: uppercase;
			}
			img {
				margin-bottom: 10px;
			}
			.home-copy {
				color: $offwhite;
			}
		}
		
		.lined-button {
			@include button (2);
		}
	}
	
	.work-home {
		background-color: $darkblue1;
		color: $offwhite;
		background-position: center center;
		@include border(3);
		
		.main-title {
			color: $offwhite;
			border-bottom: solid #c8643d 4px;
			padding-bottom: 10px;
			margin-bottom: 20px;
			display: inline-block;
			span {
				color: $orange1;
				font-family: $grand;
				font-size: 68px;
				text-transform: capitalize;
				font-weight: normal;
				display: block;
				line-height: 45px;
			}
		}
		
		.home-copy {
			color: $offwhite;
		}
		
		.lined-button {
			@include button (3);
		}
	}
	
	.contact-home {
		background-color: $offwhite;
		color: $darkblue1;
		@include border(3);
		
		.main-title {
			color: $darkblue1;
			text-shadow: 4px 4px 0px $offwhite;
		}
		
		.subtitle {
			font-family: $grand;
			font-weight: normal;
			font-size: 30px;
			color: $orange1;
		}
		
		.form-home {
			form {
				
				.name-field {
					input, textarea {
						color: $darkblue1;
						font-family: $aaux;
						text-transform: uppercase;
						font-size: 17px;
						background: none;
						border: solid $darkblue1 3px;
						font-weight: 900;
						padding: 20px;
						
						&::-webkit-input-placeholder {
							color: $darkblue1;
						}
						
						&:-moz-placeholder { /* Firefox 18- */
						   color: $darkblue1; 
						}
						
						&::-moz-placeholder {  /* Firefox 19+ */
						   color: $darkblue1;
						}
						
						&:-ms-input-placeholder {  
						   color: $darkblue1;
						}
					}
					textarea {
						height: 140px;
						
					}
					
				}
				
			}
			
			.lined-button {
				@include button (1);
				margin-top: 25px;
			}	
		}
		
	}
	
	.social-home {
		background-color: $orange1;
		color: $offwhite;
		@include border(3);
	}
	
	.bottom-home {
		@include border(3);
		.map-home {
			@include border(3);
			img {
				width: 100%;
			}
		}
		
		.details-home {
			background-color: $orange1;
			color: $white;
			@include border(3);
			padding: 30px 0px;
			
			img {
				
			}
			
			h2 {
				color: $orange3;
				font-family: $grand;
				font-size: 32px;
				margin-bottom: 0;
				
			}
			
			p {
				color: $white;
				font-family: $aaux;
				font-size: 17px;
				margin-bottom: 0;
				font-weight: bold;
				letter-spacing: 1px;
			}
			
		}
		
	}

}