// Typography

.main-title {
	font-family: $aaux;
	font-weight: 900;
	font-size: 79px;
	margin-bottom: 0;
	text-transform: uppercase;
	line-height: 80px;
	margin-top: 0;
}

.home-copy {
	font-family: $aaux;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	line-height: 21px;
}

.copy {
	font-family: $aaux;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	line-height: 21px;
}


// Elements

.lined-button {
	border-top: solid $orange1 4px;
	display: inline-block;
	padding-top: 5px;
	
	.button {
		background-color: $darkblue1;
		font-family: $aaux;
		color: $white;
		font-weight: bold;
		font-size: 14px;
		text-transform: uppercase;
		padding: 10px 20px;
	}
}

// Nav

.header{
	position: fixed;
	z-index: 99999;
	a {
		color: $offwhite;
		font-family: $aaux;
		font-weight: 900;
		font-size: 40px;
		text-transform: uppercase;
		text-align: center;
		&:hover {
			color: $white;
		}
	}
}
nav.naver{
	background: $orange1;
	display: none;
	
}
nav a {
	display: block;
}

.sm-logo {
	position: fixed;
	left: 0;
}

.nav-icon {
	position: fixed;
	right: 0;
}