.work {
	text-align: center;

	.intro-work {
		background-image: url(../images/works-bg-1.jpg);
		color: $white;
		background-position: center center;
		@include work-bg;
		@include border(5);
		
		.main-title {
			color: $white;
		}
		
		.intro-subtitle {
			font-family: $aaux;
			font-weight: 900;
			font-size: 13px;
			letter-spacing: 5px;
			text-transform: uppercase;
			
			span {
				font-family: $grand;
				text-transform: lowercase;
				font-weight: normal;
				letter-spacing: 3px;
				font-size: 20px;
			}
		}
	}
	.our-clients-work {
		background-color: $offwhite;
		color: $gray3;
		background-position: bottom center;
		@include work-bg;
		@include border(3);
		
		.main-title {
			color: $purple3;
		}
		
		.subtitle {
			font-family: $grand;
			font-weight: normal;
			font-size: 30px;
			color: $purple4;
		}
		.clients-grid {
			margin: 0;
			ul li {
				border-left: 1px solid $gray3;
				border-right: 1px solid $gray3;
				margin-bottom: 0px;
				padding-bottom: 0px;
				padding-left: 0.9375rem;
				padding-right: 0.9375rem;
				&:first-child {
					border-left: none;
				}
				&:last-child {
					border-right: none;
				}
				img {
					
				}
			}
			.top {
				border-bottom: 1px solid $gray3;
				margin-bottom: 20px;
				padding-bottom: 20px;
			}
			.bottom {
				margin: 0;
			}
		}
		
	}
	.portfolio-work {
		background-color: $purple1;
		color: $offwhite;
		@include work-bg;
		@include border(3);
		.main-title {
			color: $offwhite;
			border-bottom: solid $pink3 4px;
			padding-bottom: 10px;
			width: 395px;
			margin: 40px auto;
		}
		.tabs {
			margin: 0px;
			.tab-title {
				margin: 0;
				a {
					margin: 0;
					span {
						display: block;
					}
					.project-title {
						margin: 0;
					}
					.project-desc {
						margin: 0;
					}
				}
			}
		}
		.tabs-content {
			margin: 0;
			.content {
				margin: 0;
				p {
					margin: 0;
				}
			}
		}
		.view-port {
		  width: 960px;
		  overflow: hidden;
		  position: relative;
		}
		.slider-container {
		  position: relative;
		  height: 138px;
		  margin: 0;
		  padding: 0;
		}
		.item {
		  position: absolute;
		  width: 234px;
		  height: 138px;
		  margin-right: 8px
		}
		.work-slider a.prev,
		.work-slider a.next {
		  display: block;
		  position: absolute;
		  top: 50%;
		  margin-top: -32px;
		  width: 64px;
		  height: 64px;
		  background: url("../images/arrows.png");
		  background-repeat: no-repeat;
		}
		
		.work-slider a.prev.disabled,
		.work-slider a.next.disabled {
		  display: none;
		}
		
		.work-slider a.prev {
		  left: 0;
		  background-position: 0 0;
		}
		
		.work-slider a.prev:hover {
		  background-position: 0 -66px;
		}
		
		.work-slider a.prev:active {
		  background-position: 0 -132px;
		}
		
		.work-slider a.next {
		  right: 0;
		  background-position: -64px 0;
		}
		
		.work-slider a.next:hover {
		  background-position: -64px -132px;
		}
		
		.work-slider a.next:active {
		  background-position: -64px -198px;
		}
	}
}	
	