// _variables.scss

// Home Colors
$darkblue1: #283a50;
$orange1: #c8643d;
$orange2: #cd8663;
$orange3: #dfc4b7;
$offwhite: #e9e4dd;
$white: #ffffff;

// About Colors
$orange4: #c7633c;
$pink1: #9c5a67;
$pink2: #ca9a94;
$purple1: #4a4151;
$purple2: #594a5b;
$offwhite2: #e9e3dd;
$gray1: #58595b;
$gray2: #919396;

// Work Colors
$purple3: #615369;
$purple4: #9c5a67;
$purple5: #80708b;
$orange5: #cd9274;
$gray3: #a4a7aa;
$pink3: #cc9a92;


// Fonts
$aaux: "aaux-next",sans-serif;
$grand: 'grand_hotelregular', sans-serif;
$futura: "futura-pt",sans-serif;